.homeContainer {
  height: 100vh;
  width: 100%;       
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  position: relative;
}


.overlay {
  background: rgba(0, 0, 0, 0.55);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
}

.shopBtn {
  background: #14a44d;
  border: none;
  padding: 12px 26px;
  color: white;
  font-size: 22px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.shopBtn:hover {
  background: #0d7c39;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.catBtn {
  background: #14a44d;
  padding: 12px 26px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.catBtn:hover {
  background: #0d7c39;
}