.homeContainer {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.overlay {
  background: rgba(33, 7, 7, 0.455);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.title {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #000a06b4;
  text-shadow: 
    0 0 5px #198754, 
    0 0 10px #198754, 
    0 0 15px #198754;
  letter-spacing: 2px;
}

.shopBtn {
  background: white;
  border: none;
  padding: 12px 26px;
  color: #000;
  font-size: 22px;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.shopBtn:hover {
  background: #e6f0e8;
  color: #198754;
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlide 0.5s forwards;
}

.catBtn {
  background: white;
  padding: 12px 26px;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.3s ease;
}

.catBtn:hover {
  background: #e6f0e8;
  color: #198754;
  transition: 0.3s ease;
}

@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}