.cartContainer {
  position: relative;
}

.badge {
  background-color: #ff4d4f;
  color: white;
  font-size: 12px;
  font-weight: bold;

  padding: 2px 6px;
  border-radius: 50%;

  position: absolute;
  top: -8px;
  right: -10px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 20px;
  height: 20px;
}
